<h1>Список возможных проектов</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>id</td>
            <td>ФИО</td>
            <td>Проект</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of possibleProjects">
            <ng-template [ngIf]="possibleProject?.id != p.id" [ngIfElse]="edit">
                <td>{{p?.id}}</td>
                <td>{{p?.workerFio}}</td>
                <td>{{p?.projectName}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editPossibleProject(p)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(p)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        {{possibleProject?.id}}
    </td>
    <td>
        <select class="form-control" name="workerFio" [(ngModel)]="possibleProject.workerFio">
            <option  *ngFor="let workerFio of arrWorkerFio" [value]="workerFio">
                {{workerFio}}
            </option>
        </select>
    </td>
    <td>
        <select class="form-control" name="projectName" [(ngModel)]="possibleProject.projectName">
            <option  *ngFor="let projectName of arrProjectName" [value]="projectName">
                {{projectName}}
            </option>
        </select>
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>ФИО</label>
        <!-- <input type="text" [(ngModel)]="possibleProject.workerFio" class="form-control" /> -->
        <select class="form-control" name="workerFio" [(ngModel)]="possibleProject.workerFio">
            <option  *ngFor="let workerFio of arrWorkerFio" [value]="workerFio">
                {{workerFio}}
            </option>
        </select>
    </div>
    <div class="form-group">
        <label>Проект</label>
        <!-- <input type="text" [(ngModel)]="possibleProject.projectName" class="form-control" /> -->
        <select class="form-control" name="projectName" [(ngModel)]="possibleProject.projectName">
            <option  *ngFor="let projectName of arrProjectName" [value]="projectName">
                {{projectName}}
            </option>
        </select>
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>