
    <button class="btn btn-sm btn-primary" (click)="runProjects()">Проекты</button>
    <button class="btn btn-sm btn-danger" (click)="runWorkers()">Сотрудники</button>
    <button class="btn btn-sm btn-primary" (click)="runDistributions()">Распределение</button>
    <!-- <button class="btn btn-sm btn-danger" (click)="runPossibleProject()">Возможные проекты</button> -->


<worker-comp *ngIf="isWorker"></worker-comp>

<project-comp *ngIf="isProject"></project-comp>

<distrib-comp *ngIf="isDistribution"></distrib-comp>

<!-- <possible-comp *ngIf="isPossibleProject"></possible-comp> -->